<template name="posts">
  {{#if currentUser}}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#postModal">
      Say Something
    </button>
  {{/if}}
  <!-- Modal -->
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myPostModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myPostModalLabel">Post Something</h4>
        </div>
        <div class="modal-body">
          {{#autoForm collection="Posts" id="insertPostForm" type="insert"}}
          {{> afQuickField name="body" rows=4}}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>

  <hr>

  {{#each posts}}
    <div class="row post">
      <div class="col-md-1">
        <img src="{{getProfileImg userId}}">
      </div>
      <div class="col-md-11">
        <small> Posted By {{username}} on {{createdOn}}</small>
        <p>{{body}}</p>
      </div>
    </div>
  {{else}}
      <p>No Posts</p>
  {{/each}}



</template>
